{% extends "blog/base.html" %}

{% block port %}


  
<!--<main id="main">
  <section id="raygraphix" class="raygraphix">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
      </div>
    </div>
  </section>
  
<main id="main">
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="/static/assets/img/portfolio/portfolio-1.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="/static/assets/img/portfolio/portfolio-2.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="/static/assets/img/portfolio/portfolio-3.jpg" alt="">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web design</li>
              <li><strong>Client</strong>: ASU Company</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>This is an example of portfolio detail</h2>
            <p>
              Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>-->


<main id="main">
  <section id="raygraphix" class="raygraphix">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ port_data.title }}</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
      </div>
    </div>
  </section>

  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              {% comment %} {% if port_data.images %} {% endcomment %}
              {% comment %} {% for image in port_data.images %} {% endcomment %}
                {% comment %} <div class="swiper-slide"> {% endcomment %}
                  {% comment %} <img src="{{ image.url }}" alt=""> {% endcomment %}
                {% comment %} </div> {% endcomment %}
              {% comment %} {% endfor %} {% endcomment %}
              {% comment %} {% else %} {% endcomment %}
              {% for image in port_data.portfolio_images.all %}
                <div class="swiper-slide">
                  <img src="{{ image.image.url }}" alt="Portfolio image">
                </div>
              {% endfor %}
          
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: {{ port_data.category }}</li>
              <li><strong>Client</strong>: {{ port_data.client }}</li>
              <li><strong>Project date</strong>: {{ port_data.project_date }}</li>
              <li><strong>Project URL</strong>: <a href="{{ port_data.project_url }}">{{ port_data.project_url }}</a></li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>{{ port_data.tagline }}</h2>
            <p>{{ port_data.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% comment %} [ {% endcomment %}
    {% comment %} {"url": "/static/assets/img/portfolio/portfolio-1.jpg"}, {% endcomment %}
    {% comment %} {"url": "/static/assets/img/portfolio/portfolio-2.jpg"}, {% endcomment %}
    {% comment %} {"url": "/static/assets/img/portfolio/portfolio-3.jpg"} {% endcomment %}
{% comment %} ] {% endcomment %}

