{% extends "blog/base.html" %}
{% block about %}

     
    <section id="about" class="about">
      <br>

        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" >
              <img src="/static/assets/img/profile.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>About</h3>
              <p>
                Raymedia is your trusted creative partner specializing in a wide range of design, printing, and branding solutions tailored to elevate your brand and leave a lasting impression. <br>We combine creativity, precision, and modern technology to deliver exceptional visual experiences for both businesses and individuals.
                <br>

At Raymedia, we pride ourselves on offering professional graphic design services for both print and social media, alongside high-quality custom printing, branding, and signage solutions. <br>Whether you need standout vehicle branding, 3D signage, corporate stationery, or vibrant social media graphics,<br> we’ve got you covered.

Our team is passionate about turning ideas into reality, whether through eye-catching visuals, engaging motion graphics, professional videography, or high-quality photography. <br> We also offer support for live shows and podcast productions, giving you a complete media solution under one roof.
              </p>
              <!--<ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>-->
              
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
      
{% endblock about %}