{% include "blog/header.html" %}

{% block index %}
{% endblock index %}

{% block port %}
{% endblock port %}

{% block inner %}
{% endblock inner %}

{% block contact %}
{% endblock contact %}

{% block about %}
{% endblock about %}

{% block services %}
{% endblock services %}

{% block team %}
{% endblock team %}

{% block portfolio %}
{% endblock portfolio %}

{% block calculator %}
{% endblock calculator %}

{% block even %}
{% endblock even %}

{% block marksheet %}
{% endblock marksheet %}

{% block service_detail %}{% endblock service_detail %}

{% include "blog/footer.html" %}