{% extends "base.html" %}
{% block inner %}

  <main id="main">

    <!-- ======= Raygraphix ======= -->
    <section class="raygraphix">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>News Details</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>News Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Raygraphix -->

    <section class="inner-page">
      <div class="container">
        <h1>{{ Newsdata.title }}</h1>
        <p>
          {{ Newsdata.description|safe}}
          
        </p>
      </div>
    </section>

  </main><!-- End #main -->


{% endblock inner %}